/app.js
/beauty.jpg
/bell.webp
/bell1.webp
/bin
/downarrow.jpg
/downarrow1-removebg-preview.png
/downarrow1.png
/dt-frontend-project
/home.png
/internet.webp
/nav_bar.png
/node_modules
/notification-removebg-preview.png
/notification.png
/package-lock.json
/package.json
/public
/routes
/scripts.js
/sidebar.jpg
/The Elements of Statistical Learning_ Data Mining, Inference, and Prediction, Second Edition (Springer Series in Statistics) ( PDFDrive ).pdf
/threedots.webp
/tools.png
/Tuta Tuta Ek Parinda.mp3
/uparrow-removebg-preview.png
/uparrow.png
/views